%section.wrapper-content
  .academy-container.home
    .academy-bg.home-academy-bg
    .academy-overlay-wrap
      .academy-overlay-container
        .academy-overlay-content
          .container.fullsize
            .row
              %h1.col-md-10.home-title.col-md-offset-1
                Академія технічних
                %br/
                наук України
          .container
            .row.home-text
              %span.col-md-12.home-subtitle.has-line-top Вдосконалюй себе разом з нами
            .row.button-wrapper
              .col-md-12.button-news
                = link_to 'Перейти до новин', news_index_url, {class: 'call-upcomes-lectures'}
