.container
  .row
    .col-xs-12
      %h1.title__item-news
        = @conference.name
      -# .image__item-news
        %img.img-responsive{:alt => "", :src => "img/slider/1.jpg"}/
      %span.date__item-news
        = @conference.created_at.strftime("%Y-%m-%d")
      .text-container__item-news
        %p
          = @conference.description
      .documents-container
        - @conference.documents.each do |document|
          .documet
            = link_to document.name, document.file_url
